.users-list li.list-group-item {
	cursor: pointer;
}
.users-list li.list-group-item:hover,
.users-list li.list-group-item.active{
	color: #fff;
	background-color: #444;
}
.jumbotron .glyphicon {
	font-size: 80px;
}
